smartmontools/*.o
smartmontools/*.exe
smartmontools/.deps/
smartmontools/Makefile
smartmontools/Makefile.in
smartmontools/aclocal.m4
smartmontools/autom4te.cache/
smartmontools/compile
smartmontools/config.*
smartmontools/configure
smartmontools/configure.ac~
smartmontools/depcomp
smartmontools/install-sh
smartmontools/m4/
smartmontools/missing
smartmontools/stamp-h1
smartmontools/*.rc
smartmontools/*.bin
smartmontools/*.sh
smartmontools/*.8
smartmontools/*.5
